[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/courierr"]
	path = vendor/courierr
	url = https://github.com/bigladder/courierr.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
